/* ======================================================================================================
 * Feuille de style		: FluxRss.css
 * Objectif(s)			: Positionnement et mise en forme des éléments relatifs aux flux RSS
 * Auteur 				: Christophe Goidin <christophe.goidin@ac-grenoble.fr>
 * Date de création		: Juillet 2013
 * Date de modification : 
 * ======================================================================================================
 */

div#Contenu div.FluxRss {
	width: 100%;
	background-color: inherit;
	overflow-x: hidden;
}

div#Contenu div.FluxRss span.TitreFluxRss {
	display: block;
	font-weight: bolder;
	color: black;
	margin-bottom: 15px;
	margin-top: 6px;	/* pour être aligné avec le titre des encarts (6px = 5px margin-top + 1px border)*/
	border-radius: 5px;
	text-align: center;
	background-color: #7F8691;
}

div#Contenu div.FluxRss div.Gauche img {
	float: left;
	width: 180px;
	margin-bottom: 20px;
}

div#Contenu div.FluxRss div.Droite {	/* occupe toute la largeur restante */
	overflow: auto;						/* pour que TOUT le bloc épouse le contour des blocs flottants, et pas simplement le contenu du bloc */
	padding-left: 10px;	
}

div#Contenu div.FluxRss div.Droite span.PresentationUnFlux {
	display: block;
	border-radius: 5px;
	padding: 0px 5px 0px 5px;
	background-color: #D4D6DA;
	
}

div#Contenu div.FluxRss div.Droite span.PresentationUnFlux span.DateHeure {
	margin-right: 10px;
	font-weight: bolder;
	color: Black;
}

div#Contenu div.FluxRss div.Droite span.PresentationUnFlux span.Titre {
	font-weight: normal;
	color: inherit;
}

div#Contenu div.FluxRss div.Droite span.Description {
	font-weight: normal;
	color: inherit;
	display: block;
	margin-top: 10px;
}
