/* ======================================================================================================
 * Feuille de style		: Formulaire.css
 * Objectif(s)			: Positionnement et mise en forme des éléments relatifs au formulaire
 * Auteur 				: BC Etienne
 * Date de création		: Décembre 2016
 * Date de modification : 
 * ======================================================================================================
 */
 
 #FormAuthentificationUser label {
  display: block;  /* afin de pouvoir modifier la largeur sinon, aucun effet car 
                      label est une balise INLINE */
  width: 110px;
  float: left;     /* pour annuler le retour à la ligne du au positionnement en block */
}

 #FormAuthentificationUser input {
  margin-top: 3px;
}

 #FormAuthentificationUser input::-webkit-input-placeholder {
  color: #AAAAAA;
}

#FormAuthentificationUser label#MessageErreur{
	width: 300px;
	color: red;
}

#FormAuthentificationUser label#ErreurSaisie{
	width: 250px;
	color: red;
}

#ErreurSaisieModifPswd{
    width: 250px;
    color: red;
}