/* ======================================================================================================
 * Feuille de style		: StructurationBlocs.css
 * Objectif(s)			: Découpage et positionnement des différents blocs du site web
 * Auteur				: Christophe Goidin <christophe.goidin@ac-grenoble.fr>
 * Date de création		: Juin 2012
 * Date de modification : Juillet 2013 -> balise html, blocs AVEC et SANS encarts
 * ======================================================================================================
 */
 
html {
	overflow-y: scroll;	/* ajout automatique d'un ascenseur vertical pour éviter un effet graphique désagréable */ 
	overflow-x: auto;
}

/* ======================================================================================================= 
   Image d'arrière plan 
   ======================================================================================================= */
div#ImageArrierePlan {
	position: fixed;
	top: -5px;
	left: -25px;
	width: auto;
}

/* ======================================================================================================= 
   Liens 
   ======================================================================================================= */
div#Liens {
 	position: relative;	/* top: 0px; */
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-right : 20px;
	width: 1150px;
	height: auto;
	text-align : right;
	color : white;
}

/* ======================================================================================================= 
   BandeauHaut 
   ======================================================================================================= */
div#BandeauHaut {
	position: relative;	/* top: 0px; */
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 5px 10px;
	width: 1150px;
	height: auto;
	border-top: 1px solid #C9C5C2;	/* bien sans aussi !!! */
	border-right: 1px solid #C9C5C2;
	border-bottom: none;
	border-left: 1px solid #C9C5C2;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #7F8691;
	z-index: 1;
}

div#BandeauHaut div#Authentification {
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 0px;
	width: 280px;
	border: none;
	color: white;
}

div#BandeauHaut div#CheminDeFer {
	position: absolute;
	top: 135px;
	left: 20px;
	width: 600px;
	text-align: left;
	color: White;
	z-index: 2;		/* facultatif */
}

div#BandeauHaut img#CinePassion38 {
	position: absolute;
	top: 0px;
	left: 305px;
	z-index: 2;		/* facultatif */
}

div#BandeauHaut div#Version {
	position: absolute;
	top: 15px;
	left: 1050px;
	width: 100px;
	text-align: right;
	color: White;
	z-index: 2;		/* facultatif */
}

div#BandeauHaut div#DateDuJour {
	position: absolute;
	top: 35px;
	left: 850px;
	width: 300px;
	text-align: right;
	color: White;
	opacity: 0.5;
	z-index: 2;		/* facultatif */
}

div#BandeauHaut div#Titre {
	position: absolute;
	top: 100px;
	left: 185px; 	/* texte centré par rapport à la page */
	width: 800px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Comic Sans MS";
}

/* ======================================================================================================= 
   Menu 
   ======================================================================================================= */
div#Menu {
	position: relative;	/* top: 0px; */
	margin-right: auto;
	margin-left: auto;
	padding: 0px 10px 0px 10px;
	width: 1150px;
	height: 27px;
	border-top: none;
	border-right: 1px solid #C9C5C2;
	border-bottom: none;
	border-left: 1px solid #C9C5C2;
	background-color: white;
}

/* ======================================================================================================= 
   Contenu 
   ======================================================================================================= */
div#Contenu {
	position: relative;	/* top: 0px; */
	margin-right: auto;
	margin-left: auto;
	padding : 10px 10px 20px 10px;
	width: 1150px;
	height: auto;
	border-top: none;
	border-right: 1px solid #C9C5C2;
	border-bottom: none;
	border-left: 1px solid #C9C5C2;
	background-color: White;
}

div#Contenu div#BlocSansEncarts {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0px 0px 0px 0px;
	background-color: inherit;
}

div#Contenu div#PresentationCinePassion38 {
	position: absolute;		/* positionné par rapport à son conteneur : BlocSansEncarts */
	width: 518px;
	top: 0px;
	left: 612px;
	padding: 5px 10px 10px 10px;
	border-radius: 10px;
	background-color: #EEEEF3;
}

div#Contenu div#PresentationCinePassion38 span.Titre {
	display: block;
	margin-bottom: 5px;
	border-radius: 5px;
	font-weight: bolder;
	text-align: left;
	color: inherit;
	background-color: inherit;
}

div#Contenu hr.Marge {
	visibility: hidden;
	margin-bottom: 10px;
	height: 0px;
	width: 100%;
}

div#Contenu div#BlocGauche {
	float: left;
	margin-right: 10px;
	padding: 0px 0px 0px 0px;
	width: 200px;
	background-color: inherit;
}

div#Contenu div#BlocDroite {
	float: right;
	margin-left: 10px;
	padding: 0px 0px 0px 0px;
	width: 200px;
	background-color: inherit;
}

div#Contenu div#BlocCentre {	/* occupe toute la largeur restante */
	overflow: auto;				/* pour que TOUT le bloc épouse le contour des blocs flottants, et pas simplement le contenu du bloc */
	padding: 0px 0px 0px 0px;
	background-color: inherit;
}

/*div#Contenu div#BlocCentre div.AvecOnglet {
	border-top: none;
	border-radius: 0px 0px 10px 10px;
}*/

div#Contenu hr {				/* indispensable afin que la suite du contenu de la page soit positionné en dessous du bloc flottant le plus bas (-> le plus grand) */
	clear: both;
	visibility: hidden;
	margin: 0px 0px 0px 0px;
	height: 2px;
	width: 100%;
}

/* ======================================================================================================= 
   Encart 
   ======================================================================================================= */
div#Contenu div#BlocGauche div.Encart,
div#Contenu div#BlocDroite div.Encart {
	position: relative;
	margin: 0px 0px 10px 0px;
	padding: 5px 5px 5px 5px;
	width: auto;
	height: auto;
	border: 1px solid #7F8691;
	border-radius: 10px;
	background-color: #EEEEF3;
	transition-property: background-color, color, border-color;
	transition-duration: 3.0s;
}

div#Contenu div#BlocGauche div.Encart:hover,
div#Contenu div#BlocDroite div.Encart:hover {
	background-color: #D4D6DA;
	color: black;
	border-color: black;
}

div#Contenu div#BlocGauche div.Encart div.Centrer,
div#Contenu div#BlocDroite div.Encart div.Centrer {
	width: 140px;
	margin: 0px auto 0px auto;
}

div#Contenu div#BlocGauche div.Encart span.Titre,
div#Contenu div#BlocDroite div.Encart span.Titre {
	display: block;
	margin-bottom: 5px;
	border-radius: 5px;
	font-weight: bolder;
	text-align: center;
	color: black;
	background-color: #7F8691;
	transition-property: background-color;
	transition-duration: 2.0s;
}

div#Contenu div#BlocGauche div.Encart:hover span.Titre,
div#Contenu div#BlocDroite div.Encart:hover span.Titre {
	/*background-color: yellow;*/
}

div#Contenu div#BlocCentre div.Encart {
	position: relative;
	margin: 0px 0px 10px 0px;
	padding: 5px 5px 5px 5px;
	width: auto;
	height: auto;
	border: 1px solid #7F8691;
	border-radius: 10px 10px 10px 10px;
	background-color: #EEEEF3;
}

div#Contenu div#BlocCentre div.Encart span#Titre {
	display: block;
	margin-bottom: 1px;
	border-radius: 5px;
	font-weight: bolder;
	text-align: center;
	color: black;
	background-color: #D4D6DA;
}

div#Contenu div#BlocCentre div.Encart div.Gauche {
	clear: left;
	float: left;
	width: 20%;
	height: auto;
	border-bottom: 0px;
}

/* ======================================================================================================= 
   Navigation
   ======================================================================================================= */

div#Contenu div#BlocCentre div#Navigation{
	display: block;
	width: 45%;
	height: 50px;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}


/*
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;

}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
}
*/

div#Contenu div#BlocCentre div#Navigation div#Boutons {
	position: relative;
	display: inline;
	width:50%;
	height: 100%;
	margin-left: 2%;
	margin-right: 1%;
}

div#Contenu div#BlocCentre div#Navigation div#Boutons a img {
	margin-top: 2.5%;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

div#Contenu div#BlocCentre div#Navigation div#Numeros {
	position: absolute;
	display: inline;
	width:25%;
	margin-top: 1.5%;
	margin-right: 2%;
	margin-left: 1%;
}

/* ======================================================================================================= 
   Pied 
   ======================================================================================================= */
div#Pied {
	position: relative; /* top: 0px; */
	margin-right: auto;
	margin-left: auto;
	padding: 0px 10px 10px 10px;
	width: 1150px;
	height: auto;
	border-top: none;
	border-right: 1px solid #C9C5C2;
	border-bottom: none;
	border-left: 1px solid #C9C5C2;
	background-color: white;
	color: #A2A2A2;
}

div#Pied div.ColGauche {
	float: left;
	margin-right: 10px;
	padding : 10px 10px 10px 10px;
	width: 190px;
	border-radius : 10px;
	background-color: #F0F0F0;
}

div#Pied div.ColDroite {
	float: right;
	margin-left: 10px;
	padding: 10px 10px 10px 10px;
	width: 190px;
	border-radius: 10px;
	background-color: #F0F0F0;
}

div#Pied div#ColCentre {	/* occupe toute la largeur restante */
	overflow: auto;			/* pour que TOUT le bloc épouse le contour des blocs flottants, et pas simplement le contenu du bloc */
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	background-color: #F0F0F0;
}

div#Pied hr {				/* indispensable afin que la suite du contenu de la page soit positionné en dessous du bloc flottant le plus bas (-> le plus grand) */
	clear: both;
	visibility: hidden;
	margin: 0px 0px 0px 0px;
	height: 2px;
	width: 100%;
}

/* ======================================================================================================= 
   Certification 
   ======================================================================================================= */
div#Certification {
	position: relative; 	/* top: 0px; */
	margin-right: auto;
	margin-left: auto;
	padding: 0px 0px 0px 0px;
	width: 1170px;			/* 1150px + 20px car les marges internes à droite et à gauche ont été supprimées */
	height: 40px;			/* car l'image Pied.jpg a une hauteur de 40px */
	border-top: 1px solid #C9C5C2;
	border-right: 1px solid #C9C5C2;
	border-bottom: 1px solid #C9C5C2;
	border-left: 1px solid #C9C5C2;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
}

div#Certification img#CinePassion38LogoMini {
	position: absolute;
	top: 5px;
	left: 8px;
	z-index: 3;
}

div#Certification div#W3C {
	position: absolute;
	top: 12px;				/* pour que les images soient centrées verticalement : hauteur du bloc 40px, hauteur de l'image : 16px => (40-16)/2=12 */
	left: 535px;			/* pour que les images soient centrées horizontalement : largeur du bloc 1170px, largeur d'une image : 42px, espacement entre les images : 16px (4 espaces) => (1170-(2*42)-16)/2 = 535 */
	z-index: 2;				/* facultatif */
}

/* ======================================================================================================= 
   Copyright 
   ======================================================================================================= */
div#Copyright {
	position: relative;		/* top: 0px; */
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;	/* afin d'éviter que le dégradé de couleurs de la page recommence si la hauteur de la page est petite */
	width: 1150px;
	height: auto;
	text-align: center;
	color: #A2A2A2;
}

/* ======================================================================================================= 
   Contenu
   ======================================================================================================= */

div.FormModifMdp{
	width:210px;
}

div.FormModifMdp label, div.FormModifMdp input{
	margin-top: 10px;
}
