/* ======================================================================================================
 * Feuille de style		: Tableau.css
 * Objectif(s)			: Mise en forme du tableau représentant la liste des films
 * Auteur 				: Vitti Clément
 * Date de création		: Octobre 2016
 * Date de modification : 
 * ======================================================================================================
 */

#ListeFilm {
	width : 100%;
	border-collapse : collapse;
	border : 1px solid black;
	text-align : center;
}

#ListeFilm th {
	background-color : #7f8691;
	border : 1px solid black;
	color : black;
}

#ListeFilm td {
	border : 1px solid black;
}

#ListeFilm tr:nth-child(odd){

}

#ListeFilm tr:nth-child(even) {
	background-color : #EEEEF3;
}

