#slideshow {
	float: left;
    position: relative;
    width: 160px;
    height: 213px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#slideshow div {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow div.active {
    z-index:10;
}

#slideshow div.last-active {
    z-index:9;
}