/*************************************
DIV
*************************************/
div.FormModifMdp div#pwdSecure{
    margin-top: 5px;
    visibility: hidden;
    position: absolute;
}

div.FormModifMdp div#pwdSecure div#barreSecurite{
    position: absolute;
    border: solid black 1px;
    height: 10px;
    width: 200px;
}

/*************************************
SPAN
*************************************/
div.FormModifMdp div#pwdSecure span#niveauSecurite{
    position: absolute;
}

div.FormModifMdp div#pwdSecure span#niveauSecurite span#CouleurNiveauSecurite{
    position: absolute;
}

div.FormModifMdp div#pwdSecure div#barreSecurite span#voyantSecurite{
    position: absolute;
    background-color: #00ff00;
    height: 100%;
    transition-property: width;
}

div.FormModifMdp div#pwdSecure span#testEgalite{
    position: absolute;
}