/* liScroll styles */

.tickercontainer {
	width: 368px;
	height: 13px;
	overflow: hidden;
	position: absolute;
	top: 137px;
	left: 782px;	/* alignement à droite par rapport à l'image de l'entête */
	z-index: 2;
	padding: 0px 10px 0px 0px;
	/*opacity: 0.9;
	background-color: #A8AEB0;*/
}

.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	overflow: hidden;
}

ul.newsticker {
	/* that's your list */
	position: relative;
	left: 250px;
	font: bold 10px Verdana;
	list-style-type: none;
	/*list-style-image: url(../../Images/Divers/Info.png);*/
	margin: 0px;
	padding: 0px;
}

ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0px 40px 0px 0px;
	padding: 0px;
	color: white;
}

ul.newsticker span.Titre {
	white-space: nowrap;
	padding: 0px;
	color: black; /*font: bold 10px Verdana;*/
	margin: 0px 5px 0px 0px;
}
